/* Playfair display font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Set the font family */
.playfair-display {
  font-family: 'Playfair Display', serif;
}

/* shared style start */
.container {
    max-width: 1140px;
    margin: 0 auto;
    border: 2px solid red;
}

/* .f-left {
    float: left;
} */
/* shared style end */

/* header style start */

/* NavBar style start */
nav {
    background: green;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
    opacity: 90%;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 20px; */
    border: 2px solid red;
}
.menu-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-menu-list {
    list-style: none;
}
.nav-link {
    font-size: 16px;
    line-height: 25.6px;
    padding: 12px 14px;
    text-decoration: none;
}
.nav-btn {
    font-size: 16px;
    line-height: 25.6px;
    color: #03a87c;
    border: 1px solid #03a87c;
}
/* NavBar style end */


/* Hero section style start */
/* Hero section style end */

/* header style end */